Repository nowakprojects/CodersCamp2020.Project.FullStack-Node-React.TableSoccerTournaments, pull requests merged in 2021-03, with the labels that each got.

#89 #88 Backend | Finish matches from level zero, where is only one team #88
  backend/src/modules/tournament-tree/core/domain/FightingTeamsGroup.ts
  backend/src/modules/tournament-tree/core/domain/TournamentTree.ts
  backend/src/modules/tournament-tree/core/domain/WinnerTree.ts
  backend/src/modules/tournament-tree/infrastructure/repository/mongo/MongoTournamentTreeRepository.ts
  backend/test/modules/tournament-tree/core/domain/TournamentTree.spec.ts
Labels: BACKEND, cat. A - MUST HAVE

#102 #101 TournamentRegistrations | Searching for players to register
  .github/workflows/frontend.yml
  .gitignore
  backend/package-lock.json
  backend/package.json
  backend/src/shared/infrastructure/rest-api/Server.ts
  frontend/.env
  frontend/package-lock.json
  frontend/package.json
  frontend/public/mockServiceWorker.js
  frontend/src/components/FooTouer/FooTouer.css
  frontend/src/components/FooTouer/FooTouer.test.tsx
  frontend/src/components/FooTouer/FooTouer.tsx
  frontend/src/components/FooTouer/TourDeFoos.tsx
  frontend/src/components/Shared/Centered/Centered.tsx
  frontend/src/components/Shared/Centered/index.tsx
  frontend/src/components/Shared/VerticalSpace/VerticalSpace.tsx
  frontend/src/components/Shared/VerticalSpace/index.tsx
  frontend/src/components/TournamentRegistrations/TournamentRegistrations.test.tsx
  frontend/src/components/TournamentRegistrations/TournamentRegistrations.tsx
  frontend/src/components/TournamentRegistrations/index.tsx
  frontend/src/index.tsx
  frontend/src/mocks/msw/browser.ts
  frontend/src/mocks/msw/handlers.ts
  frontend/src/mocks/msw/server.ts
  frontend/src/react-app-env.d.ts
  frontend/src/restapi/players-profiles/PlayerProfileDto.ts
  frontend/src/restapi/players-profiles/PlayerProfilesListDto.ts
  frontend/src/restapi/players-profiles/PlayersProfilesRestApi.ts
  frontend/src/restapi/players-profiles/index.ts
  frontend/src/setupTests.ts
  frontend/tsconfig.json
Labels: FRONTEND

#109 Update React View
  frontend/src/components/TourDeFoos/TourDeFoos.tsx
  frontend/src/components/TournamentRegistrations/TournamentRegistrations.test.tsx
  frontend/src/components/TournamentRegistrations/TournamentRegistrations.tsx
Labels: FRONTEND, cat. B - SHOULD HAVE

#120 Atomic Design
  frontend/src/components/atoms/Shared/Centered/Centered.tsx
  frontend/src/components/atoms/Shared/Centered/index.tsx
  frontend/src/components/atoms/Shared/VerticalSpace/VerticalSpace.tsx
  frontend/src/components/atoms/Shared/VerticalSpace/index.tsx
  frontend/src/components/atoms/constants/names.tsx
  frontend/src/components/atoms/constants/paths.tsx
  frontend/src/components/molecules/CardTitle/CardTitle.tsx
  frontend/src/components/pages/HomeMenu/HomeMenu.tsx
  frontend/src/components/pages/TourDeFoos/TourDeFoos.tsx
  frontend/src/components/pages/TournamentRegistrations/TournamentRegistrations.test.tsx
  frontend/src/components/pages/TournamentRegistrations/TournamentRegistrations.tsx
  frontend/src/components/pages/TournamentRegistrations/index.tsx
  frontend/src/components/readme.md
  frontend/src/components/readmeAtomicDesignImage.png
  frontend/src/components/templates/Menu/Menu.test.tsx
  frontend/src/components/templates/Menu/Menu.tsx
  frontend/src/components/templates/Menu/index.tsx
  frontend/src/index.tsx
Labels: FRONTEND, cat. A - MUST HAVE, type: development issue, type: management task
